body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  width: 90%;
  height: 100vh;
}
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 10px;
}
nav a {
  margin: 10px;
  color: #575757;
  cursor: pointer;
}
.main {
  height: 100%;
}
.image {
  height: 400px;
  margin: 0 auto;
}
.option a {
  text-decoration: none;
  color: #c4c4c4;
  cursor: pointer;
  margin: 10px;
}
.pays a {
  margin: 10px;
  text-decoration: none;
  color: #c4c4c4;
  cursor: pointer;
}
button {
  cursor: pointer;
  margin-right: 5px;
  padding: 5px 7px;
  color: #ffff;
  background-color: #4386f9;
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
}

.bar-rech {
  position: relative;
  text-decoration: none;
  width: 600px;
  height: 30px;
  background-image: url(images/voix.png);
  background-repeat: no-repeat;
  background-position: right;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #e4e4e4;
  border: 0px;
}

.recherche {
  margin: 0 auto;
}
.langue {
  display: flex;
  margin: 0 auto;
}
.envoye {
  display: flex;
  margin: 0 auto;
}
.sear {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: #e4e4e4;
  border: 1px solid rgba(61, 65, 64, 0.205);
  padding: 10px;
  box-shadow: 2px 2px 2px #e4e4e4;
  cursor: pointer;
}
.luck {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 10px;
  background-color: #e4e4e4;
  border: 1px solid rgba(61, 65, 64, 0.205);
  padding: 10px;
  box-shadow: 1px 1px 1px #e4e4e4;
  cursor: pointer;
}
.langue a {
  margin-left: 10px;
}
.pays {
  height: 30px;
  background-color: #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
}
.option {
  display: flex;
  justify-content: space-between;
  height: 40px;
  background-color: #e4e4e4;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
footer {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 730px) {
  footer {
    margin-top: 180px;
    justify-content: center;
  }
  .option a {
    margin: 5px;
    font-size: 10px;
  }
  .bar-rech {
    width: 500px;
  }
  .image {
    width: 400px;
  }
}
@media screen and (max-width: 540px) {
  .bar-rech {
    width: 300px;
  }
}
@media screen and (max-height: 800px) {
  footer {
    margin-top: 100px;
  }
}
@media screen and (max-height: 750px) {
  footer {
    margin-top: 30px;
  }
}
